.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-info-card {
    width: 400px;
    margin: 0 auto;
}

.full-width {
    width: 100%;
}

.quiz-category {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0.75rem;
    button {
        width: 100%;
        margin-block-end: 0.5rem;
    }
}

.quiz-box {
    min-width: 600px;
}

.question-text {
    mat-card-title {
        font-size: 1rem;
    }
}

.question-options {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    mat-radio-button {
        margin-block-end: 0.75rem;
    }
}

.flex-row-reverse {
    display: flex;
    flex-direction: row-reverse;
    padding: 0.25rem 0.5rem !important;
}

.loading-card {
    display: flex;
    justify-content: center;
}

.loading-elements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    span {
        margin-top: 1rem;
    }
}

.flex-column-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mb-small {
    margin-bottom: 1rem;
}
